{% extends 'e-learning/base.html' %}
{% block content %}
<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="#">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Courses</span>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            {% for course_item in courses%}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                    <div class="category"><h3>{{course_item.title}}</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>How To Create Mobile Apps Using Ionic</h2>
                    <div class="rating text-center mb-3">
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                    </div>
                    <p class="desc mb-4">{{course_item.description}}</p>
                    <p><a href="{% url 'notes' course_item.id %}" class="btn">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}