{% extends 'users/base.html' %}
{% block content %}
<div class="site-section">
    <div class="container" id="register_option">
        <div class="register-btn">
            <i class="fas fa-chalkboard-teacher fa-3x"></i> <br> <br> 
            <p><a href="{% url 'tutor_register' %}" class="btn btn-primary rounded-0 px-4">Tutor Register</a></p>
        </div>
        <div class="register-btn">
            <i class="fas fa-user-graduate fa-3x"></i>  <br> <br>
            <p><a href="{% url 'student_register' %}" class="btn btn-primary rounded-0 px-4">Student Register</a></p>
        </div>
    </div>
</div>


{% endblock %}