{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Msomihub Elearning </title>
    {% endif %}
    <title></title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
</head>
<body>

    <div class="main">

        <div class="container bg-transparent">
          <div class="register-headline" style="text-align: center;">
            <h3 style="color:#FCBF49 ;"> STUDENT REGISTER </h3>
          </div>
          <form class=" form-group" action="" method="POST" style="color:#FCBF49 ;">
            {%csrf_token%}
            {%bootstrap_form form%}
            <button class="btn-btn-default" type="submit" name="button">Sign Up</button>
            <br> <br>
            <p>Already have an account ?  <a href="{% url 'login' %}" > Log In</a></p>
          </form>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'registration/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'registration/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>











